<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="!user">
    <ion-label text-center>
      <ion-spinner></ion-spinner>
    </ion-label>
  </ion-item>

  <ion-card *ngIf="user">
    <ion-card-header>
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    </ion-card-header>
    <ion-card-content>
      <p>{{ user.email }}</p>
      <p>{{ user.username}}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom *ngIf="user">

    <ion-fab-button color="success" [routerLink]="['/user-edit', user._id]">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="danger" [routerLink]="['/user-delete', user._id]">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="secondary" [routerLink]="['/user-create']">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>